/*==================================================
全体設定
==================================================*/

@media screen and (min-width: 390px) and (max-width: 767px) {
    html {
        /* 文字サイズ10px(1rem) */
        font-size: 62.5%;
    }
}

@media screen and (min-width: 768px) {
    html {
        /* 文字サイズ15px(1rem) */
        font-size: 93.75%;
    }
}

body {
    /* 文字色 */
    color: #2f2f2f;
    /* 上下左右の余白 */
    margin: 0;
}


/*==================================================
タイトル（お気に入り）
==================================================*/

@media screen and (min-width: 390px) and (max-width: 767px) {
    /* タイトル_エリア */
    .favorite-title {
        /* 相対配置 */
        position: relative;
        top: 25vw;
        /* 上下左右の余白 */
        margin: 0 auto 7vw;
    }
    /* タイトル_文言1 */
    .favorite-title h1 {
        /* フォント */
        font-family: Impact, 'Arial Narrow Bold', sans-serif;
        /* 中央揃え */
        text-align: center;
        /* 文字サイズ */
        font-size: 7vw;
        /* 文字下線 */
        text-decoration: underline;
        /* 上下左右の余白 */
        margin: 0;
    }
    /* タイトル_文言2 */
    .favorite-title h2 {
        /* 中央揃え */
        text-align: center;
        /* 行間隔 */
        line-height: 3vw;
        /* 文字サイズ */
        font-size: 3vw;
        /* 上下左右の余白 */
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    /* タイトル_エリア */
    .favorite-title {
        /* 相対配置 */
        position: relative;
        top: 5vw;
        /* 上下左右の余白 */
        margin: 0 auto 7vw;
    }
    /* タイトル_文言1 */
    .favorite-title h1 {
        /* フォント */
        font-family: Impact, 'Arial Narrow Bold', sans-serif;
        /* 中央揃え */
        text-align: center;
        /* 文字サイズ */
        font-size: 6vw;
        /* 文字下線 */
        text-decoration: underline;
        /* 上下左右の余白 */
        margin: 0;
    }
    /* タイトル_文言2 */
    .favorite-title h2 {
        /* 中央揃え */
        text-align: center;
        /* 文字サイズ */
        font-size: 1.5vw;
        /* 上下左右の余白 */
        margin: 0;
    }
}


/*==================================================
お気に入り商品
==================================================*/


/* 各商品_エリア */

@media screen and (min-width: 390px) and (max-width: 767px) {
    .favorite-item {
        /* 並行配置 */
        display: flex;
        /* 相対配置 */
        position: relative;
        top: 25vw;
        /* 黒点削除 */
        list-style: none;
        /* 不要な余白の削除 */
        line-height: 0;
        /* 下枠線 */
        border-bottom: solid 3px #cfcfcf;
        /* 幅 */
        width: 90vw;
        /* 下の内幅 */
        padding-bottom: 5vw;
        /* 上下左右の余白 */
        margin: 0 auto 5vw;
    }
    #favorite-item2 {
        /* 上下左右の余白 */
        margin: 0 auto 35vw;
    }
}

@media screen and (min-width: 768px) {
    .favorite-item {
        /* 並行配置 */
        display: flex;
        /* 黒点削除 */
        list-style: none;
        /* 不要な余白の削除 */
        line-height: 0;
        /* 下枠線 */
        border-bottom: solid 3px #cfcfcf;
        /* 幅 */
        width: 90vw;
        padding-bottom: 3vw;
        /* 上下左右の余白 */
        margin: 0 auto 3vw;
    }
}


/* 各商品_画像 */

.favorite-item img {
    /* サイズ */
    width: 30vw;
    height: auto;
    /* 上下左右の余白 */
    margin: 0 auto 0 0;
    /* マウスカーソルを指マークに */
    cursor: pointer;
}


/* 商品詳細 */

.favorite-details {
    /* サイズ */
    width: 58vw;
    height: auto;
    /* 上下左右の余白 */
    margin: 0;
}


/* 商品名 */

.favorite-item h1 {
    /* フォント */
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    /* 太字 */
    font-weight: bold;
    /* 文字サイズ */
    font-size: 6vw;
    /* 左揃え */
    text-align: left;
    /* 行間隔 */
    line-height: 6vw;
    /* 上下左右の余白 */
    margin: 0 0 2.5vw;
}


/* 商品名カナ */

.favorite-item h2 {
    /* 文字サイズ */
    font-size: 2vw;
    /* 左揃え */
    text-align: left;
    /* 行間隔 */
    line-height: 0;
    /* 上下左右の余白 */
    margin: 0 0 9vw;
}


/* 各商品詳細_価格 */

.favorite-item h3 {
    /* 文字サイズ */
    font-size: 7vw;
    /* 行間隔 */
    line-height: 0;
    /* 上下左右の余白 */
    margin: 0 0 8vw;
}


/* 各商品詳細_ボタン */

.item-button {
    /* 絶対配置 */
    position: relative;
    top: -11vw;
    /* 右揃え */
    text-align: right;
    /* 幅 */
    width: 70%;
    /* 上下左右の余白 */
    margin: 0 0 0 auto;
}

.item-button button {
    /* 文字色 */
    color: #ffffff;
    /* 幅 */
    width: 50%;
    /* 枠線削除 */
    border: none;
    /* 文字サイズ */
    font-size: 2vw;
    /* 上下左右の内幅 */
    padding: 1vw 0;
    /* 上下左右の余白 */
    margin: 0.5vw;
    /* マウスカーソルを指マークに */
    cursor: pointer;
}

.button-cart {
    /* 背景色 */
    background-color: #9f9f9f;
}

.button-delete {
    /* 背景色 */
    background-color: #4f4f4f;
}


/*==================================================
タイトル（注文履歴、トレンド）
==================================================*/

@media screen and (min-width: 390px) and (max-width: 767px) {
    /* タイトル_エリア */
    .title {
        /* 上下左右の余白 */
        margin: 0 auto 5vw;
    }
    /* タイトル_文言1 */
    .title h1 {
        /* フォント */
        font-family: Impact, 'Arial Narrow Bold', sans-serif;
        /* 中央揃え */
        text-align: center;
        /* 文字サイズ */
        font-size: 7vw;
        /* 文字下線 */
        text-decoration: underline;
        /* 上下左右の余白 */
        margin: 0;
    }
    /* タイトル_文言2 */
    .title h2 {
        /* 中央揃え */
        text-align: center;
        /* 行間隔 */
        line-height: 3vw;
        /* 文字サイズ */
        font-size: 3vw;
        /* 上下左右の余白 */
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    /* タイトル_エリア */
    .title {
        /* 相対配置 */
        position: relative;
        top: 0;
        /* 上下左右の余白 */
        margin: 0 auto 1rem;
    }
    /* タイトル_文言1 */
    .title h1 {
        /* フォント */
        font-family: Impact, 'Arial Narrow Bold', sans-serif;
        /* 中央揃え */
        text-align: center;
        /* 文字サイズ */
        font-size: 4vw;
        /* 文字下線 */
        text-decoration: underline;
        /* 上下左右の余白 */
        margin: 0;
    }
    /* タイトル_文言2 */
    .title h2 {
        /* 中央揃え */
        text-align: center;
        /* 文字サイズ */
        font-size: 1.5vw;
        /* 上下左右の余白 */
        margin: 0;
    }
}


/*==================================================
商品（お気に入り、注文履歴、トレンド）
==================================================*/

@media screen and (min-width: 390px) and (max-width: 767px) {
    /* 全体 */
    .item-pr {
        /* 並行配置 */
        display: flex;
        /* 相対位置 */
        position: relative;
        top: 0;
        /* 横幅 */
        width: 90vw;
        /* 上下左右の余白 */
        margin: 0 auto 5vw;
    }
    /* 商品画像 */
    .item-pr img {
        /* 画像サイズ */
        width: 35vw;
        height: auto;
        /* 上下左右の余白 */
        margin: 0 auto;
        /* アスペクト比を維持 */
        object-fit: cover;
        /* マウスカーソルを指マークに */
        cursor: pointer;
    }
    /* 商品詳細エリア */
    .item-details {
        /* 幅 */
        width: 45vw;
        /* 上下左右の余白 */
        margin: 0 auto 0 0;
    }
    /* 商品名英字 */
    .item-details h1 {
        /* フォント */
        font-family: Impact, 'Arial Narrow Bold', sans-serif;
        /* 文字サイズ */
        font-size: 4vw;
        /* 行間隔 */
        line-height: 6vw;
        /* 下線 */
        text-decoration: underline;
        /* 幅 */
        width: auto;
        /* 上下左右の余白 */
        margin: 0;
    }
    /* 商品名カナ */
    .item-details h2 {
        /* フォント */
        font-family: Impact, 'Arial Narrow Bold', sans-serif;
        /* 文字サイズ */
        font-size: 2.5vw;
        /* 行間隔 */
        line-height: 4vw;
        /* 幅 */
        width: 100%;
        /* 上下左右の余白 */
        margin: 0 0 7vw;
    }
    /* 価格 */
    .item-details h3 {
        /* 文字サイズ */
        font-size: 5vw;
        /* 不要な余白を削除 */
        line-height: 0;
        /* 上下左右の余白 */
        margin: 0 0 7vw;
    }
    /* 商品説明文 */
    .item-details p {
        /* 文字サイズ */
        font-size: 2.5vw;
        /* 上下左右の余白 */
        margin: 0;
    }
    /* 遷移ボタン */
    .etc-item-btn {
        /* 幅 */
        width: 100%;
        /* 中横揃え */
        text-align: center;
    }
    .etc-item-btn button {
        /* 背景色 */
        background-color: #4f4f4f;
        /* 文字色 */
        color: #ffffff;
        /* 文字サイズ */
        font-size: 4vw;
        /* ボタン形状 */
        border-radius: 10px;
        /* 幅 */
        width: 60%;
        /* 上下左右の内幅 */
        padding: 3vw 0;
        /* 上下左右の余白 */
        margin: 0 auto 2vw;
        /* マウスカーソルを指マークに */
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .item-pr {
        /* 非表示 */
        display: none;
    }
    .etc-item-btn {
        /* 非表示 */
        display: none;
    }
}


/*==================================================
スライド（お気に入り、注文履歴、トレンド）
==================================================*/


/* 全体設定 */

@media screen and (min-width: 390px) and (max-width: 767px) {
    .slider_history,
    .slider_trend {
        /* 非表示 */
        display: none;
    }
}

@media screen and (min-width: 768px) {
    /* 全体設定 */
    .slider_history,
    .slider_trend {
        /* 横幅 */
        width: 94vw;
        /* 上下左右の余白 */
        margin: 0 auto 5vw;
        /* 上下左右の内幅 */
        padding: 0;
        /* 黒点削除 */
        list-style: none;
    }
    /* 画像 */
    .slider_history img,
    .slider_trend img {
        /* 画像サイズ */
        width: 100%;
        height: auto;
        /* マウスカーソルを指マークに */
        cursor: pointer;
    }
    /* スライド左右の余白調整 */
    .slider_history .slick-slide,
    .slider_trend .slick-slide {
        /* 拡大や透過のアニメーションを0.5秒で実行 */
        transition: all .5s;
        /* 上下左右の余白 */
        margin: 0 10px;
    }
    /* 矢印共通設定 */
    .slick-prev-history,
    .slick-next-history,
    .slick-prev-trend,
    .slick-next-trend {
        /* 優先表示順 */
        z-index: 1;
        /* 押下時のイベントを削除 */
        pointer-events: none;
        /* 絶対配置 */
        position: absolute;
        top: 45%;
        /* 枠線（上） */
        border-top: 0.3rem solid #efefef;
        /* 枠線（右） */
        border-right: 0.3rem solid #efefef;
        /* 押下時の枠線削除 */
        outline: none;
        /* 矢印サイズ */
        width: 3vw;
        height: 3vw;
    }
    /* 矢印（前へ） */
    .slick-prev-history,
    .slick-prev-trend {
        /* 位置 */
        left: -2%;
        /* 形状 */
        transform: rotate(-135deg);
    }
    /* 矢印（次へ） */
    .slick-next-history,
    .slick-next-trend {
        /*マウスカーソルを指マークに*/
        cursor: pointer;
        /* 位置 */
        right: -2%;
        /* 形状 */
        transform: rotate(45deg);
    }
    /* 矢印（前へ）押下時 */
    .slick-prev-history.reveal,
    .slick-prev-trend.reveal {
        /* 押下時のイベントを削除 */
        pointer-events: auto;
        /*マウスカーソルを指マークに*/
        cursor: pointer;
        /* 枠線（上） */
        border-top: 0.3rem solid #6f6f6f;
        /* 枠線（右） */
        border-right: 0.3rem solid #6f6f6f;
    }
    /* 矢印（次へ）押下時 */
    .slick-next-history.reveal,
    .slick-next-trend.reveal {
        /* 押下時のイベントを削除 */
        pointer-events: auto;
        /*マウスカーソルを指マークに*/
        cursor: inherit;
        /* 枠線（上） */
        border-top: 0.3rem solid #6f6f6f;
        /* 枠線（右） */
        border-right: 0.3rem solid #6f6f6f;
    }
}
